
{% extends "base.html" %}


{% block title %}{{ topic }}{% endblock %}


{% block heading %}
<h2 align='center'>{{ title }}</h2>
{% endblock %}


{% block content %}

<!-- Description -->
{% if description|length > 0 %}
<ul>
    {% for d in description %}

        <li>{{ d }}</li>

    {% endfor %}
    </ul>
{% endif %}

<!-- "Is a" -->
{% if is_a_items|length > 0 %}
    <h3>Is a:</h3>
    <ul>
    {% for is_a in is_a_items %}

        <li>{{ is_a }}</li>

    {% endfor %}
    </ul>
{% endif %}

<!-- Definition -->
{% if definitions|length > 0 %}
    <h3>Definition:</h3>
    <ul>
    {% for definition in definitions %}

        <li>{{ definition }}</li>

    {% endfor %}
    </ul>
{% endif %}

<!-- Applications -->
{% if applications|length > 0 %}
    <h3>Applications:</h3>
    <ul>
        {% for application in applications %}
        
            <li><a href="{{ url_for('views.topic', topic=application) }}">{{ application.title() }}</a></li>
        
        {% endfor %}
    </ul>
{% endif %}

<!-- Methods -->
{% if methods|length > 0 %}
    <h3>Methods:</h3>
    <ul>
        {% for method in methods %}
        
            <li><a href="{{ url_for('views.topic', topic=method) }}">{{ method.title() }}</a></li>
        
        {% endfor %}
    </ul>
{% endif %}

<!--
<h3>Advantages:</h3>
<ul class="list-group list-group-flush" id="triples">
    {% for advantage in advantages %}
        <li class="list-group-item">{{ advantage }}
            <button type="button" class="close" onClick="deleteAdvantage('{{ topic.id }}', '{{ advantage }}')">
                <span aria-hidden="true">&times;</span>
            </button>
        </li>
    {% endfor %}
</ul>
-->

<!--<button type="button" class="btn btn-primary" onClick="addAdvantage()">Add</button>
-->

<!-- Advantages -->
{% if advantages|length > 0 %}
    <h3>Advantages:</h3>
    <ul>
        {% for advantage in advantages %}
        
            <li>{{ advantage }}</li>
        
        {% endfor %}
    </ul>
{% endif %}

<!-- Disadvantages -->
{% if disadvantages|length > 0 %}
    <h3>Disadvantages:</h3>
    <ul>
        {% for disadvantage in disadvantages %}
        
            <li>{{ disadvantage }}</li>
        
        {% endfor %}
    </ul>
{% endif %}

<!-- Examples -->
{% if examples|length > 0 %}
    <h3>Examples:</h3>
    <ul>
        {% for example in examples %}
        
        <li><a href="{{ url_for('views.example_page', example=example) }}" target="_blank">{{ example }}</a></li>
        
        {% endfor %}
    </ul>
{% endif %}


{% endblock %}