
{% extends "base.html" %}


{% block title %}{{ topic.name }}{% endblock %}


{% block heading %}
<h2 align='center'>{{ title }}</h2>
{% endblock %}


{% block content %}

<!-- Description -->
{% if description|length > 0 %}
<ul>
    {% for d in description %}

        <li>{{ d }}</li>

    {% endfor %}
    </ul>
{% endif %}

<!-- "Is a" -->
{% if is_a_items|length > 0 %}
    <h3>Is a:</h3>
    <ul>
    {% for is_a in is_a_items %}

        <li>{{ is_a }}</li>

    {% endfor %}
    </ul>
{% endif %}

<!-- Definition -->
{% if definitions|length > 0 %}
    <h3>Definition:</h3>
    <ul>
    {% for definition in definitions %}

        <li>{{ definition }}</li>

    {% endfor %}
    </ul>
{% endif %}

<!-- Definition -->
{% if capabilities|length > 0 %}
    <h3>Capabilities:</h3>
    <ul>
        {% for capability in capabilities %}
        
            <li>{{ capability }}</li>
        
        {% endfor %}
    </ul>
{% endif %}

<!--
<h3>Advantages:</h3>
<ul class="list-group list-group-flush" id="triples">
    {% for advantage in advantages %}
        <li class="list-group-item">{{ advantage }}
            <button type="button" class="close" onClick="deleteAdvantage('{{ topic.id }}', '{{ advantage }}')">
                <span aria-hidden="true">&times;</span>
            </button>
        </li>
    {% endfor %}
</ul>
-->

<!--<button type="button" class="btn btn-primary" onClick="addAdvantage()">Add</button>
-->

<!-- Advantages -->
{% if advantages|length > 0 %}
    <h3>Advantages:</h3>
    <ul>
        {% for advantage in advantages %}
        
            <li>{{ advantage }}</li>
        
        {% endfor %}
    </ul>
{% endif %}

<!-- Disadvantages -->
{% if disadvantages|length > 0 %}
    <h3>Disadvantages:</h3>
    <ul>
        {% for disadvantage in disadvantages %}
        
            <li>{{ disadvantage }}</li>
        
        {% endfor %}
    </ul>
{% endif %}

{#
{% for content_page in content_pages %}
    <h2><a href="{{ url_for('content_page', content_page_id=content_page.id) }}">{{ content_page.title }}</a></h2>
    {{ content_page.content | safe }}
    {{ content_page.code_snippet }}
    {% for link in links %}
        <p>Related topic: <a href="{{ url_for('topic', topic_id=link.target_topic_id) }}">{{ link.target_topic.name }}</a></p>
    {% endfor %}
{% endfor %}
#}


{% endblock %}